In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import axis
import regex as re
import contractions
import num2words

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score
from sklearn import metrics
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, StratifiedKFold
from sklearn.naive_bayes import MultinomialNB
import ujson as json


import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package wordnet to /Users/grandhi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/grandhi/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to /Users/grandhi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/grandhi/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/grandhi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [68]:
# Function for making Data frames from .ndjson files

def new_data(path="./data/incident-tweets/", year = 2014, disaster = 'Biological', location = 'Germany'):
    records1 = map(json.loads, open(path, encoding="utf8"))
    df = pd.DataFrame.from_records(records1)
    df['location'] = location
    df['disaster'] =  disaster
    df['year'] = year
    df = df.drop(['id'],axis=1)
    return df

In [60]:
from cmath import nan


df1 = new_data(path="../data/incident-tweets/biological-ebola-2014.ndjson", year = 2014, disaster = 'Biological',location= nan)
df1

,text,relevance,location,year
0,<HASHTAG> ebola symptoms. early treatment mean...,Biological,NaN,2014
1,thinking about telling leadership to make indi...,Biological,NaN,2014
2,"we know people are contracting the disease, an...",Biological,NaN,2014
3,this is <USER> nurse <HASHTAG> <NUMBER> is at ...,Biological,NaN,2014
4,you asked questions about ebola â€” and we hav...,Biological,NaN,2014
...,...,...,...,...
3443,<HASHTAG> italiandirectionerwantameetandgreeti...,Biological,NaN,2014
3444,<USER> @clapbackanna skjkkj this gif gets me e...,Biological,NaN,2014
3445,<USER> peter and max a fables novel by bill wi...,Biological,NaN,2014
3446,"merda, to chateada",Biological,NaN,2014
3447,thanks to our sponsor thomas avenue ceramics -...,Biological,NaN,2014

In [69]:
df1 = new_data(path="../data/incident-tweets/biological-ebola-2014.ndjson", year = 2014, disaster = 'Biological', location= 'nan')
df2 = new_data(path="../data/incident-tweets/biological-ebola-2014.ndjson", year = 2014, disaster = 'Biologocal', location=nan)
df3 = new_data("../data/incident-tweets/earthquake-bohol-2013.ndjson",year=2013, disaster = 'Earthquake',location='bohol')
df4 = new_data("../data/incident-tweets/earthquake-california-2013.ndjson",year=2013, disaster = 'Earthquake',location='california')
df5 = new_data("../data/incident-tweets/earthquake-chile-2013.ndjson",year=2013, disaster = 'Earthquake',location='chile')
df6 = new_data("../data/incident-tweets/earthquake-costarica-2012.ndjson",year=2012, disaster = 'Earthquake',location='costarica')
df7 = new_data("../data/incident-tweets/earthquake-guatemala-2012.ndjson",year=2012, disaster = 'Earthquake', location='guatemala')
df8 = new_data("../data/incident-tweets/earthquake-iraq-iran-2017.ndjson",year=2017, disaster = 'Earthquake',location='iran')
df9 = new_data("../data/incident-tweets/earthquake-italy-2012.ndjson",year=2012, disaster = 'Earthquake', location='italy')
df10 = new_data("../data/incident-tweets/earthquake-mexico-2017.ndjson",year=2017, disaster = 'Earthquake',location='mexico')
df11 = new_data("../data/incident-tweets/earthquake-nepal-2015.ndjson",year=2015, disaster = 'Earthquake',location='nepal')
df12 = new_data("../data/incident-tweets/earthquake-nepal-2018.ndjson",year=2018, disaster = 'Earthquake',location='nepal')
df13 = new_data("../data/incident-tweets/earthquake-pakistan-2013.ndjson",year=2013, disaster = 'Earthquake',location='pakistan')
df14 = new_data("../data/incident-tweets/flood-alberta-2013.ndjson",year=2013, disaster = 'Flood',location='alberta')
df15 = new_data("../data/incident-tweets/flood-colorado-2013.ndjson",year=2013, disaster = 'Flood',location='colorado')
df16 = new_data("../data/incident-tweets/flood-india-2014.ndjson",year=2014, disaster = 'Flood', location='india')
df17 = new_data("../data/incident-tweets/flood-manila-2013.ndjson",year=2013, disaster = 'Flood',location='manila')
df18 = new_data("../data/incident-tweets/flood-pakistan-2014.ndjson",year=2014, disaster = 'Flood',location='pakistan')
df19 = new_data("../data/incident-tweets/flood-philipinnes-2012.ndjson",year=2012, disaster = 'Flood', location='philipinnes')
df20 = new_data("../data/incident-tweets/flood-queensland-2013.ndjson",year=2013, disaster = 'Flood',location='queensland')
df21 = new_data("../data/incident-tweets/flood-sardinia-2013.ndjson",year=2013, disaster = 'Flood', location='sardinia')
df22 = new_data("../data/incident-tweets/flood-srilanka-2017.ndjson",year=2017, disaster = 'Flood',location='srilanka')
df23 = new_data("../data/incident-tweets/hurricane-hagupit-2014.ndjson",year=2014, disaster = 'Hurricane',location='hagupit')
df24 = new_data("../data/incident-tweets/hurricane-harvey-2017.ndjson",year=2017, disaster = 'Hurricane', location='harvey')
df25 = new_data("../data/incident-tweets/hurricane-irma-2017.ndjson",year=2017, disaster = 'Hurricane', location='iram')
df26 = new_data("../data/incident-tweets/hurricane-maria-2017.ndjson",year=2017, disaster = 'Hurricane', location= 'maria')
df27 = new_data("../data/incident-tweets/hurricane-pablo-2012.ndjson",year=2012, disaster = 'Hurricane', location='pablo')
df28 = new_data("../data/incident-tweets/hurricane-pam-2015.ndjson",year=2015, disaster = 'Hurricane', location='pam')
df29 = new_data("../data/incident-tweets/hurricane-sandy-2012.ndjson",year=2012, disaster = 'Hurricane',location='sandy')
df30 = new_data("../data/incident-tweets/hurricane-yolanda-2013.ndjson",year=2013, disaster = 'Hurricane', location='yolanda')
df31 = new_data("../data/incident-tweets/hurricane-odile-2014.ndjson",year=2014, disaster = 'Hurricane',location='odile')
df32 = new_data("../data/incident-tweets/industrial-savar-building-collapse-2013.ndjson",year=2013, disaster = 'Industrial',location='savar')
df33 = new_data("../data/incident-tweets/industrial-texas-explosion-2013.ndjson",year=2013, disaster = 'Industrial',location='texas')
df34 = new_data("../data/incident-tweets/industrial-venezuela-refinery-fire-2012.ndjson",year=2012, disaster = 'Industrial',location='venezula')
df35 = new_data("../data/incident-tweets/other-russia-meteor-2013.ndjson",year=2013, disaster = 'Meteor',location='russia')
df36 = new_data("../data/incident-tweets/other-singapore-haze-2013.ndjson",year=2013, disaster = 'Haze',location='singapore')
df37 = new_data("../data/incident-tweets/societal-boston-bombing-2013.ndjson",year=2013, disaster = 'Societal',location='boston')
df38 = new_data("../data/incident-tweets/societal-brazil-nightclub-fire-2013.ndjson",year=2013, disaster = 'Societal',location='brazil')
df39 = new_data("../data/incident-tweets/societal-la-airport-shooting-2013.ndjson",year=2013, disaster = 'Societal',location='los angeles')
df40 = new_data("../data/incident-tweets/tornado-joplin-2011.ndjson",year=2011, disaster = 'Tornado', location='joplin')
df41 = new_data("../data/incident-tweets/tornado-oklahoma-2013.ndjson",year=2013, disaster = 'Tornado',location='oklahoma')
df42 = new_data("../data/incident-tweets/transportation-glasgow-helicopter-crash-2013.ndjson",year=2013, disaster = 'Transportation', location='glasgow')
df43 = new_data("../data/incident-tweets/transportation-la-train-crash-2013.ndjson",year=2013, disaster = 'Transportation',location='los angeles')
df44 = new_data("../data/incident-tweets/transportation-ny-train-crash-2013.ndjson",year=2013, disaster = 'Transportation',location='newyork')
df45 = new_data("../data/incident-tweets/transportation-spain-train-crash-2013.ndjson",year=2013, disaster = 'Transportation',location='spain')
df46 = new_data("../data/incident-tweets/wildfire-australia-2013.ndjson",year=2013, disaster = 'Wildfire',location='australia')
df47 = new_data("../data/incident-tweets/wildfire-california-2014.ndjson",year=2014, disaster = 'Wildfire',location='california')
df48 = new_data("../data/incident-tweets/wildfire-colorado-2012.ndjson",year=2011, disaster = 'Wildfire', location='colorado')

In [70]:
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,
        df11,df12,df13,df14,df15,df16,df17,df17,df18,df19,df20,
        df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,
        df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,
        df41,df42,df43,df44,df45,df46,df47,df48]

df_final = pd.concat(frames)
df_final

,text,relevance,location,disaster,year
0,<HASHTAG> ebola symptoms. early treatment mean...,1,nan,Biological,2014
1,thinking about telling leadership to make indi...,1,nan,Biological,2014
2,"we know people are contracting the disease, an...",1,nan,Biological,2014
3,this is <USER> nurse <HASHTAG> <NUMBER> is at ...,1,nan,Biological,2014
4,you asked questions about ebola â€” and we hav...,1,nan,Biological,2014
...,...,...,...,...,...
1797,will it be easy? nope. will it be worth it? ab...,0,colorado,Wildfire,2011
1798,<USER> all is cool here thank god!,0,colorado,Wildfire,2011
1799,<USER> she's not adding up. she said she was <...,0,colorado,Wildfire,2011
1800,"just listening to dave days' covers/originals,...",0,colorado,Wildfire,2011
1801,"""anyone you're hoping to work with?"" demi: ""my...",0,colorado,Wildfire,2011

In [75]:
df_final.location.value_counts()

nepal          16522
sandy          12530
boston          9576
alberta         9060
texas           8102
oklahoma        8056
iram            7782
harvey          7706
maria           7674
pakistan        6982
queensland      6336
california      6254
hagupit         3916
pam             3886
chile           3840
joplin          3752
india           3594
colorado        3508
nan             3448
los angeles     2578
odile           2458
manila          2448
mexico          2396
australia       1730
glasgow         1554
yolanda         1544
russia          1524
newyork         1498
srilanka        1480
savar           1462
pablo           1426
bohol           1330
singapore       1328
philipinnes     1324
iran             966
spain            704
costarica        568
brazil           478
guatemala        390
italy            268
sardinia         182
venezula         124
Name: location, dtype: int64

In [76]:
df = df_final.copy()

In [77]:
def remove_url(text):
    url = re.compile(r'(https?:\/\/)(\s)*(www\.)?(\s)*((\w|\s)+\.)*([\w\-\s]+\/)*([\w\-]+)((\?)?[\w\s]*=\s*[\w\%&]*)*')
    return url.sub(r'', text)

df['text_final'] = df['text'].apply(lambda x: remove_url(x))


#Contractions
df['text_final_1'] = df['text_final'].apply(lambda x: [contractions.fix(word) for word in x.split(' ')])

#joining back the list of items into one string
df['text_final_1'] = [' '.join(map(str, l)) for l in df['text_final_1']]

# Noise Cleaning - spacing, special characters, lowercasing 

df['text_final_1'] = df['text_final_1'].str.lower()
df['text_final_1'] = df['text_final_1'].apply(lambda x: re.sub(r'[^\w\d\s\']+', '', x))
df['text_final_2'] = df['text_final_1'].apply(lambda x: re.sub('[^a-zA-Z]', ' ', x))

#nltk tokenization

df['text_final_1'] = df['text_final_1'].apply(word_tokenize)
df['text_final_2'] = df['text_final_2'].apply(word_tokenize)

# remove stop words

stop_words = set(stopwords.words('english'))

df['text_final_1'] = df['text_final_1'].apply(lambda x: [word for word in x if word not in stop_words])
df['text_final_1'] = [' '.join(map(str, l)) for l in df['text_final_1']]

df['text_final_2'] = df['text_final_2'].apply(lambda x: [word for word in x if word not in stop_words])
df['text_final_2'] = [' '.join(map(str, l)) for l in df['text_final_2']]


# lemmatization

lemma = nltk.WordNetLemmatizer()

df['text_final_2'] = df['text_final_2'].apply(lambda x: [lemma.lemmatize(word) for word in x ])
df['text_final_2'] = [''.join(map(str, l)) for l in df['text_final_2']]

In [78]:
df.head()

,text,relevance,location,disaster,year,text_final,text_final_1,text_final_2
0,<HASHTAG> ebola symptoms. early treatment mean...,1,nan,Biological,2014,<HASHTAG> ebola symptoms. early treatment mean...,hashtag ebola symptoms early treatment means m...,hashtag ebola symptoms early treatment means m...
1,thinking about telling leadership to make indi...,1,nan,Biological,2014,thinking about telling leadership to make indi...,thinking telling leadership make individual si...,thinking telling leadership make individual si...
2,"we know people are contracting the disease, an...",1,nan,Biological,2014,"we know people are contracting the disease, an...",know people contracting disease dying without ...,know people contracting disease dying without ...
3,this is <USER> nurse <HASHTAG> <NUMBER> is at ...,1,nan,Biological,2014,this is <USER> nurse <HASHTAG> <NUMBER> is at ...,user nurse hashtag number moment rushed dallas...,user nurse hashtag number moment rushed dallas...
4,you asked questions about ebola â€” and we hav...,1,nan,Biological,2014,you asked questions about ebola â€” and we hav...,asked questions ebola â answers,asked questions ebola answers

In [81]:
from transformers import AutoModelForSequenceClassification
from transformers import TFAutoModelForSequenceClassification
from transformers import AutoTokenizer
import numpy as np
from scipy.special import softmax
import csv
import urllib.request
from transformers import pipeline

#https://huggingface.co/cardiffnlp/twitter-roberta-base-emotion?text=I+like+you.+I+love+you

In [79]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("j-hartmann/emotion-english-distilroberta-base")

model = AutoModelForSequenceClassification.from_pretrained("j-hartmann/emotion-english-distilroberta-base")

In [84]:
classifier = pipeline("text-classification", tokenizer=tokenizer, model=model)

In [85]:
tweets_pro = list(df['text_final_2'])

output_new = classifier(tweets_pro)

new_list_pro = pd.DataFrame(output_new)
new_list_pro

          label     score
0          fear  0.440499
1       neutral  0.722099
2          fear  0.281508
3         anger  0.586104
4       neutral  0.795742
...         ...       ...
165727  neutral  0.934948
165728      joy  0.576523
165729  sadness  0.519028
165730  neutral  0.603765
165731      joy  0.427462

[165732 rows x 2 columns]

In [90]:
classifier('thanks for your presence')

[{'label': 'joy', 'score': 0.43692827224731445}]

In [87]:
new_list_pro.label.value_counts()

neutral     69067
fear        26017
joy         23180
sadness     22933
anger       13034
surprise    10244
disgust      1257
Name: label, dtype: int64